<app-header title={{msgHeader}}></app-header>

<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: center;">
    <span> LISTADO DE MODULOS </span>
  </mat-toolbar-row>
</mat-toolbar>
<br> <br>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">


 <div class="container" >


  <div class="card" *ngFor="let module of modules | async">

    <img src={{module.imageModule}} ng-model="module.imageModule" />
     <h4>{{module.knowledgeArea}}</h4>
     <p>{{ module.description }}</p>
     <a [routerLink]="'/listaTests/' + module._id" class="contain_back">Tomar Modulo</a>
     <!-- <mat-card-actions style="text-align: center;">
      <button  mat-raised-button color="primary" [routerLink]="'/listaTests/' + module._id">Abrir</button>
    </mat-card-actions> -->
   </div>
 </div>















<!-- <mat-card class="parent-card" id="center-card">
  <mat-card-content>
    <div *ngFor="let module of modules | async">
      <mat-card >
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" [ngStyle]="{'background-image': 'url(./assets/images/default-module-img.png)','background-size': 'cover'}" >
          </div>
          <mat-card-title>{{module.knowledgeArea}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ module.description }}
          </p>
        </mat-card-content>
        <mat-card-actions style="text-align: right;">
          <button  mat-raised-button color="primary" [routerLink]="'/listaTests/' + module._id">Abrir</button>
        </mat-card-actions>
      </mat-card>
      <br>
    </div>
  </mat-card-content>
</mat-card> -->
