<app-header title={{msgHeader}}></app-header>
<mat-toolbar color="primary">
  <mat-toolbar-row style="justify-content: center;">
    <span> LISTADO DE PRUEBAS </span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container" >
  <div class="card" *ngFor="let test of tests | async; let nroPrueba = index;">
   <!-- <img [src]="test.imageTest" alt="Image Source">-->
   <img src={{test.imageTest}} ng-model="test.imageTest" />
    <!--<img src="../../../assets/images/logopoli.png">-->
    <h4>{{ test.title }} </h4>
    <p> {{ test.description }}</p>
    <a [routerLink]="'/test/' + test._id + '/' + moduleId ">Tomar Modulo</a>

  </div>
</div>



<!-- <div class="list-test-content" id="parent" >

  <div *ngFor="let test of tests | async; let nroPrueba = index;">
    <mat-card>
      <mat-card-header>
          <mat-card-title>{{ test.title }} </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          {{ test.description }}
      </mat-card-content>
      <mat-card-actions style="text-align: right">
        <button mat-raised-button color="primary" [routerLink]="'/test/' + test._id + '/' + moduleId">
          Tomar el test
        </button>
      </mat-card-actions>
    </mat-card>
    <br />
  </div>
  <mat-card>
    <mat-card-header>
        <mat-card-title>Prueba Aleatoria</mat-card-title>
    </mat-card-header>
    <mat-card-actions style="text-align: right">
      <button mat-raised-button color="primary" [routerLink]="'/test/random/' + moduleId" >
        Tomar el test
      </button>
    </mat-card-actions>
  </mat-card>
  <br />
</div> -->
