<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="../../assets/images/logopoli.png" id="iconpoli" alt="User Icon" width="200" height="100"/>
      <br>
      <img src="../../assets/images/serPro.png" id="icon" alt="User Icon" width="100" height="150" />
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="email" class="fadeIn second" required [(ngModel)] ="userCredentials.email" name="email" placeholder="Usuario">
      <input type="password" id="password" class="fadeIn third"  required [(ngModel)] ="userCredentials.password" name="login" placeholder="Contraseña">
      <input  (click)="LoginUser()"  type="button" class="fadeIn fourth" value="Ingresar" >
    </form>

    <!-- Remind Passowrd
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>-->

  </div>
</div>

<router-outlet></router-outlet>
