<app-header title={{msgHeader}}></app-header>

<div class="row justify-content-center">
  <div class="col-lg-9">
    <div >

      <table class="table">
        <thead>
          <tr>
            <th>MÓDULO</th>
            <th>TESTS</th>
        
          </tr>
        </thead>
        
        <tbody>

          <tr *ngFor="let item of matrixModuleTest | keyvalue let ind=index">
            
            <td>{{matrixDescriptionModuleTest[ind][0]}}</td>

            <td *ngFor="let star of item.value | slice:1; let indice=index">

              <div [ngSwitch]="star" ngbTooltip={{matrixDescriptionModuleTest[ind][indice+1]}}>

                <img *ngSwitchCase="0" src="../../../../assets/images/star-0.png">
                <img *ngSwitchCase="1" src="../../../../assets/images/star-1.png">
                <img *ngSwitchCase="2" src="../../../../assets/images/star-2.png">

              </div>
            </td>
            
            <td style="width: 200px; height: 200px;" 
              *ngIf="gauges.get(item.key)!=undefined" 
                      echarts [options]="gauges.get(item.key).chartOptions">
            </td>
            
          </tr>        

        </tbody>

      </table>

    </div>
  </div>
</div>

