<div id="parent">

  <div class="cardMaster">
    <div id="profileTarget">
      <!-- <img src="../../../assets/images/user1.png" id="profileImage"> -->


      <img src="data:image/gif;base64,{{image}}" />
      <br>
      <p> {{userName}} </p>
      <p> {{email}} </p>
    </div>
    <div class="advance">
      <div *ngFor="let item of matrixModuleTest">
        <div id="content">
          <div class="cupContain">
            <div [ngSwitch]="item[0]">
              <img *ngSwitchCase="0" src="../../../../assets/images/cup_0.png" title="Modulo no superado">
              <img *ngSwitchCase="1" src="../../../../assets/images/cup_1.png" title="Modulo con éxito">
            </div>
          </div>
          <div *ngFor="let star of item">
            <div class="starContain" [ngSwitch]="item[star]">
              <img *ngSwitchCase="0" src="../../../../assets/images/star-0.png" title="Test no superado">
              <img *ngSwitchCase="1" src="../../../../assets/images/star-1.png" title="Test superado parcialmente">
              <img *ngSwitchCase="2" src="../../../../assets/images/star-2.png" title="Test superado">
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
